.container{
    overflow-y: auto;
}

.all-names{
    padding: 4px;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(20, 245, 245);
}

.chat-holder{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(20, 245, 245);
    height: 100%;
    overflow-y: auto;
}

.chats{
    width: 100%;
}