body{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    background-color:#222831 !important;
    box-sizing: border-box;
}

.logo{
    max-height:70px;
}

.sign_in_btn{
    color:white;
    background-color:#00ADB5;
    height:80px;
    width:190px;
    border-radius:10px !important;
    font-size:30px !important;
    transition: all 0.4s;
}
.sign_up_btn{
    color:white;
    background-color:#00ADB5;
    height:90px;
    width:220px;
    border-radius:10px !important;
    font-size:30px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.4s;
}

.sign_in_btn:hover{
    background-color: #00FFF5;
}

.sign_up_btn:hover{
    background-color: #00FFF5;
}


.loading_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.content{
    display:flex;
    width:100%;
    font-family: 'Comfortaa', cursive;
}

.content_child{
    width:50%;
}

.heading{
    color: #00FFF5;
    font-size:40px;
}

.text{
    color:#00FFF5;
    font-size:25px;
}

@media only screen and (max-width: 1415px) {
    .sign_in_btn{
        height:70px;
        width:180px;
        font-size:25px !important;
    }
    .sign_up_btn{
        height:80px;
        width:200px;
        font-size:30px !important;
    }
    .loading_img{
        margin-top: 30px;
        width:73%;
    }
    .logo {
        max-height:70px;
    }
    .content{
        display:flex;
    }
    .content_child{
        width:50%;
    }
    .heading{
        font-size:30px;
    }
    .text{
        font-size:20px;
    }
}
@media only screen and (max-width: 800px) {
    .loading_img{
        width:80%;
    }
    .content{
        display:block;
    }
    .content_child{
        width:100%;
    }
    .heading{
        font-size:25px;
    }
    .text{
        font-size:18px;
    }
    .sign_up_btn{
        margin-top: 40px !important;
    }
}

@media only screen and (max-width: 565px) {
    .logo {
        max-width:100%;
    }
    .sign_in_btn{
        height:60px;
        width:80%;
        font-size:18px !important;
    }
    .sign_up_btn{
        margin-top: 40px !important;
        height:70px;
        width:40%;
        font-size:23px !important;
    }
}