{% load static %}

<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={% static 'style.css' %} />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet"> {%block css%}{%endblock css%}
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href={% static 'css/feed.css' %} />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
</head>

<body class="page">
    <div class="base_navbar reset-this">
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <img class=logo src="{% static 'img/IIT BHU Forums.png' %}">
        <ul class="ul-1">
            <li><img class="nav-icon" src="{% static 'img/home-active.png' %}">
            <li><img class="nav-icon" src="{% static 'img/events.png' %}">
            <li><img class="nav-icon" src="{% static 'img/groups.png' %}">
            <li><img class="nav-icon" src="{% static 'img/chat.png' %}">
        </ul>
        <div class="fake-image">
            <div class="search">
                <input class="search-input" type="text" style="background-color: #11161D;" placeholder="Search">
                <img class="search-image" style="background-color: #11161D;" src="{% static 'img/search.png'%}">
            </div>
        </div>
        <ul class="ul-2">
            <li><img class="profile-picture" src="{% static 'img/dpp.jpg'%}">
                <li class="user">{{request.user}}
                    <li class="triangle">
        </ul>
        <div class="dropdown">
            <div class="dropdown-content">Profile</div>
            <div class="dropdown-content">Log Out</div>
        </div>
    </div>
    {%block content%} {%endblock content%}
</body>
<script src="{% static 'js/navbar.js'%}"></script>
<script src="{% static 'js/feed.js'%}"></script>
{%block js%}{%endblock js%}
</html>