{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href={% static 'style.css' %} />
    </head>
    <body>
    <div class="navbar">
        <ul class = "ul-1">   
            <li><img class =logo src="{% static 'logo.png' %}">
            <li><img src="{% static 'home.png' %}">
            <li><img src="{% static 'events.png' %}">
            <li><img src="{% static 'groups.png' %}">
            <li><img src="{% static 'chat.png' %}">
        </ul>
        <input>
        <ul class="ul-2">
            <li><img class = "profile-picture" src="{% static 'dpp.jpg'%}">
            <li>{{request.user}}
        </ul>
    </div>
    </body>
</html>