{%extends 'base_navbar.html'%}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/chatroom.css' %}" />
{% endblock css %}
{% block js %}
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script src = {% static 'js/chatroom.js' %}></script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>
        $(document).ready(function(){    
            $('#chat_nav').attr('src','{% static "img/chat_active.png" %}');
            $('#group_nav').attr('src','{% static "img/groups.png" %}');
            $('#home_nav').attr('src','{% static "img/home.png" %}');
        });
    </script>
{% endblock js %}
{% block content %}
        <div id="{% if id %}preset{% endif %}" class="{{id}} {{username}}"></div>
            <div class="container d-flex pt-5">
                <div class="col-3 text-center">
                    {% for person in list %}
                        <div class="all-names" id="{{ person.0 }}-name" onclick="switch_chat(this)">{{ person.0 }}</div> <br>
                    {% endfor %}
                </div>
                <div class="chat-holder col-9">
                    {% for person in list %}
                        <div class="chats" id="{{ person.0 }}-chats" style="display:none">
                            <div id='{{ person.0 }}-chat-holder'>
                                {% for chat in  person.1.chatmessage_set.all %}
                                    <li class="messages">{{ chat.message }} via {{ chat.user }}</li>
                                {% endfor %}
                            </div>
                            <form method="POST" id="{{ person.0 }}-form">
                                {% csrf_token %}
                                <input id="{{ person.0 }}-input">
                                <button id="{{ person.0 }}" class="btn" type="submit">send</button> <br>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
{% endblock content %}