{% extends "base_navbar.html" %}
{% load static %}
{% block content %}
    <div class="post-box">
        <p>{{ post.user }} {{ post.group }}</p>
        <div class="top">
            <p>{{ post.title }}</p>
            <p>{{ post.created_at }}</p>
        </div>
        {{ post.content }}
        <br>
        <div class="div-line"></div><br>
        <b>comments</b><br><br>
        <div id="comments">
            {% for comment in comments %}
                {{ request.user }} said : <br>
                {{ comment }}<br>
            {% endfor %}
        </div>
        <form id="comment_form">
            {%csrf_token%}
            <input id="new_comment" name="comment" type="text" placeholder="Your comment">
        </form>
    </div>
{% endblock content %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/feed.css' %} />
{% endblock css %}

{% block js %}
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <script src={% static 'js/post_view.js' %}></script>
{% endblock js %}
