{%extends 'base_navbar.html'%}
{%load static%}

{%block css%}
<link rel="stylesheet" href={% static 'css/profile.css' %} />
{%endblock css%}

{%block content%}
<div class="body">
    <div class="image">
        <img src={% static "img/profile.png" %} width="1000px" height="200px">
    </div>
    <div class="name">
        {{ u.username }}
    </div>
</div>
<div class="text-center">
    {% ifequal button_status "not_friend" %}
        <form id="AddFriend">
            {% csrf_token %}
            <button type="submit" class="btn" value="add_friend">Add Friend</button>
        </form>
    {% else %}
        {% ifnotequal button_status "own profile" %}
            <div id="Friends_0" style="display:block">
                {{ button_status }}
            </div>
            <br>
            <form id="openChat" class="{{ u.username }}">
                <button class="btn">Chat</button>
            </form>
        {% endifnotequal %}
    {% endifequal %}
    <div id="Friends" style="display:none">
        {{ button_status }}
    </div>
    {% ifequal button_status "friend_request" %}
        <form id="AcceptFriend">
            {% csrf_token %}
            <button type="submit" class="btn btn-req" value="accept_friend">Accept Friend Request</button>
        </form>
        <form id="DeclineFriend">
            {% csrf_token %}
            <button type="submit" class="btn btn-req" value="decline_friend">Decline Friend Request</button>
        </form>
    {% endifequal %}
</div>

{% ifequal is_friend "True" %}
    <div class="groups_nav">
        <div class="tabs">
            <div class="groups tablinks" id="defaultOpen" onclick="openTab_2(event,'groups_content')">
                Groups
            </div>
            <div class="posts tablinks" onclick="openTab_2(event,'posts_content')">
                Posts
            </div>
            <div class="friends tablinks" onclick="openTab_2(event,'friends_content')">
                Friends
            </div>
        </div>
        <div class="content">
            <div id="groups_content" class="tabcontent">
                {% for group in groups %}
                    <div class="post-box-post"> 
                        {{ group.name }}
                        <br>
                        {{post.title}}
                    </div>
                {% endfor %}
            </div>
            <div id="posts_content" class="tabcontent">
                {% for post in posts %}
                    <div class="post-box-post"> 
                        {{post.user}} {{ post.group}}
                        <br>
                        {{post.title}}
                    </div>
                {% endfor %}
            </div>
            <div id="friends_content" class="tabcontent">
                {% for friend in friends %}
                    <div class="post-box-post"> 
                        {{ friend }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endifequal %}

{%endblock content%}

{%block js%}
<script src="{% static 'js/profile.js'%}"></script>
{%endblock js%} 