{% load static %}
<!-- Modal -->
<div class="modal fade" id="Register" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="modalCenter">
        <div class="modal-content" id="finalBox">
            <div class="modal-body" id="finalBody" >
                <div class="close-button" onclick="hideRegister()"><img src="{% static 'img/close.png' %}"
                        width="36px" height="36px"></div>
                <form class="register-form" id="register-form-id">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="right col-sm" >
                                Username<span style="color: red;"> *</span> :
                            </div>
                            <div class="input-center col-sm">
                                <input type="text" name="Username" class="input-tabs" id="username-signup" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="right col-sm">
                                Email<span style="color: red;"> *</span> :
                            </div>
                            <div class="input-center col-sm">
                                <input type="email" name="email" class="input-tabs" id="email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="right col-sm">
                                Password<span style="color: red;"> *</span> :
                            </div>
                            <div class="input-center col-sm">
                                <input type="password" name="password" class="input-tabs" id="password1" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="right col-sm">
                                Confirm password<span style="color: red;"> *</span> :
                            </div>
                            <div class="input-center col-sm">
                                <input type="password" name="cPassword" class="input-tabs" id="password2" required>
                            </div>
                        </div>
                    </div>
                    <div class="text-center" id="register_error" style="color:red;display:none;"></div>
                    <div style="text-align: center; margin-top: 20px;">
                    <button type="submit" class="btn RegisterButton" value="register">Register</button>
                    </div>
                </form>
                <div class="lastInModel d-flex justify-content-center">
                    <p onclick="showLogin()" style="cursor: pointer;">Already a member? click to sign in</div>
                </div>
            </div>
        </div>
    </div>
</div>
